.App {
  text-align: center;
}

.btn{
  color: white;
  border:2px solid rgb(124, 124, 0);
  background-color: rgb(71, 71, 12);
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(124, 124, 0);;
  border-color: rgb(71, 71, 12);
}

.social{
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social>a{
  color:rgb(167, 167, 167);
  text-decoration: none;
}
.footer{
  display: block;
  color: rgb(167, 167, 167)
}