body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;

  background-color: rgb(8, 8, 8);
  font-family: 'Special Elite', cursive;
}

code {
  font-family: 'Merriweather Sans', sans-serif;

}

p,h1,table,h4,.btn,th{
  font-family: 'Merriweather Sans', sans-serif;

}